<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="red-blue-loop.ico">
    <title>Code Mirror</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <link rel="stylesheet" href="/lib/codemirror.css">
    <script src="/lib/codemirror.js"></script>
    <script src="/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/mode/css/css.js"></script>
    <script src="/mode/javascript/javascript.js"></script>
    <script src="/mode/xml/xml.js"></script>
    <script src="/addon/display/placeholder.js"></script>
</head>
<body>
    <div class="banner">
        <div class="title">
            <a href="index.html"><h1>HTML and CSS Editor</h1></a>
        </div>
        <div class="dropdown">
            <button onclick="dropDown()" class="dropbtn">Labs</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="header.html">h tag</a>
                <a href="paragraph.html">p tag</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="code-area" style="width:50%">
            <textarea id="htmlCode" placeholder="HTML Code..."></textarea>
            <hr>
            <textarea id="cssCode" placeholder="CSS Code..."></textarea>
        </div>
        <div class="preview-area" style="width:50%">
            <iframe id="preview-window"></iframe>
        </div>
        <script>
            var htmlEditor = CodeMirror.fromTextArea(document.getElementById("htmlCode"), {
                mode: "htmlmixed"
            })
            var cssEditor = CodeMirror.fromTextArea(document.getElementById("cssCode"), {
                mode: "css"
            })
            function showPreview() {
                var htmlCode = htmlEditor.getValue();
                var cssCode = "<style>" + cssEditor.getValue() + "</style>";
                var frame = document.getElementById("preview-window").contentWindow.document;
                frame.open();
                frame.write(htmlCode+cssCode);
                frame.close();
            }
            htmlEditor.on("change",function(){showPreview()});
            cssEditor.on("change",function(){showPreview()});
        </script>
    </div>
</body>
</html>